{% from 'bootstrap5/utils.html' import render_icon %}

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Welcome to the Board Reviewer Application</h1>
    <p>Built for M by D</p>
    <p class="mt-5 text-info">AI-powered dynamic reviewing system built with Flask, Jinja, and Gemini</p>
</div>

<div class="container mt-5 mb-2">
    <div class="d-flex justify-content-center">
        <div class="col-lg-4 p-5 bg-secondary text-white rounded" style="margin-right: 3%">
            <h1 class="text-center">{{ render_icon('tools') }}</h1>
            <h2 class="text-center">Disclaimer</h2>
            <p class="text-center">Currently only to be used as a reviewer tool for the Philippine Certified Public Accountants board exams</p>
            <p class="text-center mt-2">This application was made for personal usage only and should not be used as a replacement for actual training from certified centres</p>
        </div>
        <div class="col-lg-4 p-5 bg-primary text-white rounded">
            <h1 class="text-center">{{ render_icon('lightning-charge') }}</h1>
            <h2 class="text-center">Ideas?</h2>
            <p class="text-center">Raise an issue for this project using <a class="text-warning" href="https://github.com/Shufreezy/cpa-board-reviewer-app/issues"><span class="badge text-bg-secondary">this link</span></a></p>
            Current Issues:
            <div class="mt-auto p-2 bg-muted">
                <iframe src="https://azu.github.io/github-issue-widget/?owner=Shufreezy&repo=cpa-board-reviewer-app&limit=3&random"
                allowtransparency="true" frameborder="0" scrolling="0" width="100%"></iframe>
            </div>
        </div>
        <div class="col-lg-4 p-5 bg-secondary text-white rounded" style="margin-left: 3%">
            <h1 class="text-center">{{ render_icon('link') }}</h1>
            <h2 class="text-center">Links</h2>
            <p class="text-center">Support this project by visiting these links. This project is for non-profit only but a little bit of help goes a long way.</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="https://ko-fi.com/shufreezy">Ko-fi</a>
                        </div>
                        <div>❤️☕❤️</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="https://github.com/Shufreezy">Github</a>
                        </div>
                        <div>🚧🛠️🚧</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 mb-5">
    <div id="summary-carousel" class="carousel slide" data-bs-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            {% for summary in summaries %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="container mt-5 mb-5">
                        <div class="row">
                            <div class="col-lg-12 text-dark beige-transparent">
                                <h1 class="text-center text-danger">Learnings {{ loop.index }}</h1>
                                <p class="text-center">{{ summary }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#summary-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        <button class="carousel-control-next" type="button" data-bs-target="#summary-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid mt-5 p-5 h-100 bg-primary text-white text-center">
    <p class="text-muted">For personal use only. All rights reserved.</p>
</div>

